---
import IconUserCode from "../components/icons/IconUserCode.astro";
---

<section id="sobre-mi">
  <div class="about">
    <h3>
      <IconUserCode color="var(--main-color)" size={40} /> Sobre mí
    </h3>
    <p>
      Soy <span>John Alexander Castro Díaz</span>, desarrollador web
      especializado en <span>Astro</span> y <span>Django</span>. Me apasiona
      crear <span>aplicaciones modernas</span> que combinen un frontend rápido y
      optimizado con un backend sólido y escalable.
    </p>
    <p>
      Con Astro he encontrado la forma de construir <span>interfaces ligeras</span>
      y <span>eficientes</span>, mientras que Django me permite desarrollar <span>sistemas robustos</span>. 
      Mi enfoque está en diseñar proyectos que sean prácticos, mantenibles y con una experiencia de usuario cuidada.
    </p>
  </div>
</section>
