<footer>
  <article class="footer">
    <p class="line">
      <a class="author" href="#inicio">John Castro</a>
      <span class="year">2025</span>
      <span class="loc"><span class="color">·</span> A Coruña, Galicia</span>
    </p>
    <time class="update" datetime="2025-08-26">26<span class="color">·</span>08<span class="color">·</span>2025</time>
  </article>
</footer>