---
import CodeIcon from "../components/icons/CodeIcon.astro";
import ProjectCard from "./ProjectCard.astro";
---

<section id="proyectos" class="projects-container">
  <h3>
    <CodeIcon color="var(--main-color)" size={40} />
    Proyectos
  </h3>

  <div class="projects-grid">
    <ProjectCard
      mobileImage="images/projects/smitle-mobile.webp"
      desktopImage="images/projects/smitle-desktop.webp"
      title="Smitle 2"
      description="Un juego de adivinanzas diario basado en el universo de Smite 2. Los jugadores deben adivinar un dios de Smite 2 en seis intentos o menos, al estilo del popular juego Wordle."
      status="en desarrollo"
      technologies={["Astro", "HTML5", "Sass", "JavaScript"]}
    />
</section>
