---
import CodeIcon from "../components/icons/CodeIcon.astro";
import ProjectCard from "./ProjectCard.astro";
---

<section id="proyectos" class="projects-container">
  <h3>
    <CodeIcon color="var(--main-color)" size={40} />
    Proyectos
  </h3>

  <div class="projects-grid">
    <ProjectCard
      mobileImage="images/projects/smitle-mobile.webp"
      desktopImage="images/projects/smitle-desktop.webp"
      title="Smitle 2"
      description="Aplicación web en la que jugar diariamente desafíos relacionados a Smite 2."
      status="finalizado"
      repository="https://github.com/tu-usuario/ecommerce-app"
      demo="https://tu-ecommerce.vercel.app"
      technologies={["Astro", "Tailwind", "HTML5"]}
    />
    <ProjectCard
      title="Smitle 2"
      description="Aplicación web en la que jugar diariamente desafíos relacionados a Smite 2."
      status="finalizado"
      repository="https://github.com/tu-usuario/ecommerce-app"
      demo="https://tu-ecommerce.vercel.app"
      technologies={["Astro", "React", "Tailwind", "JavaScript", "TypeScript", "CSS3","HTML5","Node","SASS"]}
    />
  </div>
</section>

