---
import SkillAward from "../components/icons/SkillAward.astro";
---

<section id="habilidades">
  <div class="skills">
    <h3>
      <SkillAward color="var(--main-color)" size={40} /> Habilidades
    </h3>
  </div>
</section>
