.about {
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 30px;

  justify-self: center;
  width: 50%;

  p {
    color: var(--text-color);
  }

  span {
    color: var(--main-color);
  }

  @media (max-width: 768px) {
    width: 80%;
  }
}

#sobre-mi {
  scroll-margin-top: 100px; 
}