html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--main-font);
  gap: 1;
  background: #21283a;
  
}

p {
  color: var(--text-color);
}

h1 {
  font-size: 4rem;
  color: var(--main-color);
}

hr {
  margin: 7rem auto;
  width: 60%;
  border-color: var(--main-color);
  @media (max-width: 768px) {
    width: 80%;
  }
}

h3 {
  font-size: 2rem;
  color: var(--main-color);

  svg {
    position: relative; 
    top: 0.5rem; 
  }
}

// Responsive

@media (max-width: 768px) {
  .about, .experience, .projects {
    width: 90%;
  }
}



