---
import "@fontsource-variable/lexend/index.css";
import "../css/styles.scss";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>John Castro | Portfolio</title>


    <meta
      name="description"
      content="Porfolio de John Castro, desarrollador web especializado en crear experiencias digitales modernas y atractivas."
    />

    <meta
      property="og:title"
      content="John Castro | Portfolio de Desarrollador Web"
    />
    <meta
      property="og:description"
      content="Portfolio de John Castro, desarrollador web especializado en crear experiencias digitales modernas y atractivas."
    />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/JohnCastro04/portfolio/master/public/portfolioPreview.webp"
    />
    <meta property="og:url" content="https://johncastro.vercel.app" />
    <meta property="og:type" content="website" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
